In [61]:
import numpy as np
import pandas as pd
import csv
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

# Data preparation

In [35]:
data_neg = list(csv.reader(open("data/processedNegative.csv"), delimiter=','))[0]
data_pos = list(csv.reader(open("data/processedNeutral.csv"), delimiter=','))[0]
data_neut = list(csv.reader(open("data/processedPositive.csv"), delimiter=','))[0]

In [36]:
def CountVectorizer(text):
    from sklearn.feature_extraction.text import CountVectorizer
    coun_vect = CountVectorizer()
    count_matrix = coun_vect.fit_transform(text)
    count_array = count_matrix.toarray()
    df = pd.DataFrame(data=count_array,columns = coun_vect.get_feature_names())
    return df

In [40]:
X = data_neg + data_pos + data_neut
y = list(np.ones(len(data_neg)) * 0) + list(np.ones(len(data_pos)))  +  list(np.ones(len(data_neut)) * 2)

In [42]:
len(X), len(y)

(3873, 3873)

In [45]:
X = CountVectorizer(X)

/Users/celys/Library/Python/3.9/lib/python/site-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

In [46]:
X_train, X_test, y_train, y_test = train_test_split(X, y, 
                                                    train_size=0.8, 
                                                    random_state=42,
                                                    shuffle = True)

In [51]:
from sklearn import svm
clf = svm.SVC()
clf.fit(X_train, y_train)

SVC()

In [59]:
predict = clf.predict(X_test)

In [63]:
accuracy_score(predict, y_test)

0.8903225806451613

In [56]:
X_test

,00,000,00am,01,04,05,07,08,0xx,10,...,yr,yummy,yura,yuri,zabardast,zac,zcc,zero,zoo,zoos
3679,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3745,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2289,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2500,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2240,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1565,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1320,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1034,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2451,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3717,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0